<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PermutateSudokuV4.Properties.Settings.SudokuPermutationsV4ConnectionString1"
            connectionString="Data Source=LAPTOP-169\SQLEXPRESS;Initial Catalog=SudokuPermutationsV4;Persist Security Info=True;User ID=Guest;Password=1713133g!ov/"
            providerName="System.Data.SqlClient" />
      <add name="PermutateSudokuV4.Properties.Settings.SudokuPermutationsV4ConnectionString"
            connectionString="Data Source=LAPTOP-169\SQLEXPRESS;Initial Catalog=SudokuPermutationsV4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>